@import "__variables";

body {
  background-image: url("/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: $Very-Dark-Blue;
}

.app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  gap: 20px;
  height: fit-content;
  width: 50vw;
  position: absolute;
  max-width: 100%;
}

.header_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: $Very-Dark-Grayish-Blue;
  width: 100%;
  height: 3rem;
  border-radius: 0.2em;
  padding: 0.2em 0.7em;
  align-items: center;
  gap: 2.5em;
  border-top: 1px solid $Dark-Grayish-Blue;
  // justify-content: space-between;
}

.added_task_text{
  font-family: $Josefin;
  font-size: 18px;
  color: $Light-Grayish-Blue;
}
.added_task{
  display: flex;
  flex-direction: row;
}

.task_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 50%;
  // background-image: $Very-Dark-Grayish-Blue;
  // height: 25px;
  // width: 25px;

  &:hover {
    background-image: none;
  }
}

.logo_theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.task_button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid $Light-Grayish-Blue;
  @include flex-center;
  &:hover {
    cursor: pointer;
  }
}

.task_entry_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.selected_task{
  background: $Check-Background;
  // background-image: url(./images/icon-check.svg);
  // background-position: center;
  // background-repeat: no-repeat;  
}

.checked{
  display: none;
  user-select: none;
}

// .completed{
//   text-decoration: line-through;
// }


.fitler{
  background: transparent;
  border: none;
  color: $Dark-Grayish-Blue;

  &:focus{
    color: $Bright-Blue;
  }

  &:hover{
    cursor: pointer;
    color: $Very-Dark-Blue;
  }
}

.cancel_task{
  align-self: center;
  flex: 50%;

  &:hover{
    cursor: pointer;
  }
}

.right_side{
  display: flex;
  flex-direction: row;
  flex: 50%;
  align-items: center;
  gap: 2.5em;
  
}

.cancel_container{
  justify-self: flex-end;
}

#error-card{
  display: flex;
  flex-direction: row;
  background-color: $Very-Dark-Grayish-Blue;
  width: fit-content;
  height: fit-content;
  border-radius: 0.2em;
  padding: 0.5em 0.7em;
  align-items: center;
  font-family: $Josefin;
  color: red;
  font-size: 18px;
  display: none;
  
  // border-top: 1px solid $Dark-Grayish-Blue;
}

#entry_card_continer{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
}


#task_input {
  background: transparent;
  border: none;
  size: 4;
  font-family: $Josefin;
  font-size: 18px;
  color: $Light-Grayish-Blue;
  &:focus {
    outline: none;
  }
}


#logo {
  font-family: $Josefin;
  font-size: 3em;
  font-weight: 700;
}

#theme {
  &:hover {
    cursor: pointer;
  }
}

#task_options{
  border-top: 1px solid $Dark-Grayish-Blue;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;

  >*{
    color:$Dark-Grayish-Blue;
  }
}
